h1{
    font-size: 3em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 1.4em;
    color:lightblue;
}

h2{
    font-size: 1.7em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 1.2em;
    color:lightblue;
}

input{
    margin:.5em;
}

form{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    margin:.5em;
    margin-top:2em;
}

ol li {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin:.5em;
    margin-top:1.2em;
}

img{
    margin-top: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .5em;
}

.inputHeaders{
    font-size:1em;
    color: lightblue;
}

.outputs{
    font-size: .7em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 1.2em;
    color:white;
    background-color:black;
}

#top{
    background-color:black;
    padding:1em;
}

.middle{
    background-color:black;
    padding:.7em;
}

#bottom{
    background-color:black;
    padding:1em;
}

p{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin:.5em;
    margin-top:1.2em;
    color:lightblue;
}